html {
  background-image: url(/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
}

body {
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.basic-controll {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.primary-control {
  float: left;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 2px red solid;
}

.planar-control {
  float: right;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 2px red solid;
}

.title {
  margin-bottom: 15px;
  font-weight: bold;
}

.planar-control-center {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px red solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  background-color: rgba(0, 0, 255, 0.5);
}

.primary-control-center {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px red solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  background-color: rgba(0, 0, 255, 0.5);
}

.primary-control button {
  position: absolute;
  color: white;
  font-weight: bold;
}

.up {
  left: 75px;
  top: 15px;
}

.down {
  left: 75px;
  top: 170px;
}

.clockwise {
  left: -24px;
  top: 92px;
}

.counter-clockwise {
  left: 163px;
  top: 92px;
}

.planar-control button {
  position: absolute;
  color: white;
  font-weight: bold;
}

.front {
  right: 93px;
  top: 82px;
}

.back {
  right: 93px;
  top: 240px;
}

.left {
  right: 180px;
  bottom: 90px;
}

.right {
  right: 10px;
  bottom: 90px;
}
